.likeButton {
  background-color: rgb(231, 76, 60);
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

/* フェードイン・アウトのアニメーション */
.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* 見た目のデザイン */
.welcome {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}

.likeButton {
  cursor: pointer;
  font-size: 1.5rem;
  display: block;
  margin: 20px auto;
  width: 10rem;
  position: absolute;
}