body {
    margin: 0;
}

.left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    z-index: 10;
    margin-top: 0.5rem;
}

.left a {
    background-color: rgb(167, 115, 52);
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.left a:hover {
    background-color: gray;
    color: black;
}

.summary {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.band {
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
    color: white;
    text-align: center;
    background-color: rgb(167, 115, 52);
    transition: background-color 0.4s ease, color 0.4s ease;
}

.band:hover {
    background-color: gray;
    color: black;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #333;
    transition: all 0.4s ease-in-out;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
}

.menu.active {
    display: block;
}

.menu .band {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.menu .band:hover {
    background-color: gray;
    color: black;
}

.menu .band:last-child {
    border-bottom: none;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #333;
    padding: 0.5rem;
    text-align: center;
    z-index: 1000;
    margin-top: 0.5rem;
}

.top-bar span {
    text-align: center;
}

@media (max-width: 768px) {
    .summary {
        display: none;
    }

    .left {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .top-bar {
        display: none;
    }
}