.home-link {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: #DEB887;
    color: #61540B;
    text-decoration: none;
    border-radius: 5px;
    font-size: 26px;
    z-index: 1000;
}

.home-link:hover {
    background-color: #8a7829;
}

.list {
    padding: 20px;
}

.supply {
    color: black
}