.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image-container {
    display: flex;
    gap: 16px;
}

.carousel-image {
    height: auto;
    object-fit: cover;
    display: flex;
}

.item-preview {
    display: flex;
}