.heading {
    font-size: 2rem;
    text-align: center;
}

.select {
    display: flex;
}

.select:hover {
    background-color: gray;
    color: black;
}

.picture {
    background-color: burlywood;
    color: black;
    text-align: center;
}

.caption {
    color: black;
}

.saved:hover {
    background-color: gray;
    color: black;
}

.user {
    color: black;
}