html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: bisque;
    overflow-x: hidden;
    box-sizing: border-box;
}

.heading {
    font-size: 2rem;
    text-align: center;
}

.select {
    display: flex;
}

.select:hover {
    background-color: gray;
    color: black;
}

.picture {
    background-color: burlywood;
    color: black;
    text-align: center;
}

.caption {
    color: black;
}

.saved:hover {
    background-color: gray;
    color: black;
}

@media (max-width: 768px) {

    html,
    body {
        background-color: bisque;
        background-size: cover;
        min-height: 100vh;
        overflow-x: hidden;
    }
}