body {
    background-color: bisque;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.heading {
    font-size: 2rem;
    text-align: center;
}

.select {
    display: flex;
}

.select:hover {
    background-color: gray;
    color: black;
}

.picture {
    background-color: burlywood;
    color: black;
    text-align: center;
}

.caption {
    color: black;
}

.saved:hover {
    background-color: gray;
    color: black;
}

@media (max-width:768px) {
    body {
        background-size: cover;
    }
}